{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% include "navigation.html" %}

<main>
  <div class = 'flash'>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
  </div>
  <h1>{{c.name}}</h1>
  <p>{{message}}</p>
  <div>
    <a href="{{url_for('newItem', cat_id = c.id)}}">New Item</a>
  </div>
  <section class='flex-box'>
    {% for i in i%}
    <div class='item'>
      <h3>{{i.name}}</h3>
      <p>{{i.description}}</p>
      <p>{{i.price}}</p>
      <p>Owner: {{o.name}}</p>
      <p>
        <div>
          <a href='{{url_for('editItem', cat_id = c.id, item_id = i.id)}}'>Edit</a>
        </div>
        <div>
          <a href='{{url_for('deleteItem', cat_id = c.id, item_id = i.id)}}'>Delete</a>
        </div>
      </p>
    </div>
    {% endfor %}
  </section>
</main>
{% include "footer.html" %}
{% endblock %}
