{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<nav>
  <a href="{{url_for('newCategory')}}">New Category</a>
</nav>

<div class = 'flash'>
		  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li><strong> {{ message }} </strong></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
<h1>Hocus Pocus Magic Catalog</h1>
<p>{{message}}</p>
<section>
  {% for c in categories%}
  <p>
    <a href='{{url_for('showCategory', category_id = c.id)}}'>{{c.name}}</a>
  </p>
  <p>
    <div>
      <a href='{{url_for('editCategory', category_id = c.id)}}'>Edit</a>
    </div>
    <div>
      <a href='{{url_for('deleteCategory', category_id = c.id)}}'>Delete</a>
    </div>
  </p>
  {% endfor %}
</section>

  {% include "footer.html" %}
{% endblock %}
