{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<main>
	<div class = 'flash'>
			  {% with messages = get_flashed_messages() %}
	    {% if messages %}
	    <ul>
	      {% for message in messages %}
	      <li><strong> {{ message }} </strong></li>
	      {% endfor %}
	    </ul>
	    {% endif %}
	    {% endwith %}
	</div>
	<p>{{message}}</p>
	<div>
	  <a href="{{url_for('newCategory')}}">New Category</a>
	</div>
	<section class='flex-row'>
	  {% for c in categories%}
	  <div class='category'>
			<h2>
		    <a href='{{url_for('showCategory', category_id = c.id)}}'>{{c.name}}</a>
		  </h2>
		  <p>
		    <div>
		      <a href='{{url_for('editCategory', category_id = c.id)}}'>Edit</a>
		    </div>
		    <div>
		      <a href='{{url_for('deleteCategory', category_id = c.id)}}'>Delete</a>
		    </div>
		  </p>
		</div>
	  {% endfor %}
	</section>
</main>
{% include "footer.html" %}
{% endblock %}
