<!DOCTYPE html>
<html>
  <head>
    <title>{{category.name}}</title>
  </head>
  <body>
    <nav>
      <a href="{{url_for('newItem', category_id = category.id)}}">New Item</a>
      <a href="{{url_for('showCatalog')}}">Home</a>
    </nav>
    <h1>{{category.name}}</h1>
    <p>{{message}}</p>
    <main>
      <section>
        {% for i in items%}
        <div>
          <h3>{{i.name}}</h3>
          <p>{{i.price}}</p>
          <p>{{i.description}}</p>
          <p>
            <div>
              <a href='#'>Edit</a>
            </div>
            <div>
              <a href='#'>Delete</a>
            </div>
          </p>
        </div>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
