<!DOCTYPE html>
<html>
  <head>
    <title>Delete Category</title>
  </head>
  <body>
    <h1>This page will enable category deletion</h1>
    <main>
      <form action='{{url_for('deleteCategory', category_id = category.id)}}' method="POST">
        <fieldset>
          <p>
            <label for='delete'>Are you sure you want to delete {{category.name}}?</label>
          </p>
          <p>
            <input type='submit' value='Delete'>
          </p>
        </fieldset>
      </form>
      <a href='{{url_for('showCatalog')}}'>Cancel</a>
    </main>
  </body>
</html>
