{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
{% include "navigation.html" %}
    <main>
      <form action="{{url_for('editItem', item_id = item.id, category_id = category_id)}}" method='POST'>
        <fieldset>
          <p>
            <label for='name'>Item Name:</label><br>
            <input type='text' name='name' placeholder='{{item.name}}'>
          </p>
          <p>
            <label for='description'>Item Description:</label><br>
            <textarea name='description' cols=50 rows=10>{{item.description}}</textarea>
          </p>
          <p>
            <label for='name'>Item Price:</label><br>
            <input type='text' name='price' placeholder='{{item.price}}'>
          </p>
          <p>
            <input type='submit' value='Edit'>
          </p>
        </fieldset>
      </form>
      <a href='{{url_for('showCategory', category_id = category_id)}}'>Cancel</a>
    </main>
    {% include "footer.html" %}
{% endblock %}
