<!DOCTYPE html>
<html>
  <head>
    <title>Create a new magic category</title>
  </head>
  <body>
    <header>
      <h1>Create a new magic category</h1>
    </header>
    <main>
      <form action='{{url_for("newCategory")}}' method="POST">
        <fieldset>
          <p>
            <label for='name'>Category Name:</label><br>
            <input type='text' name='name'>
          </p>
          <p>
            <input type='submit' value='Create'>
          </p>
        </fieldset>
      </form>
      <a href='{{url_for("showCatalog")}}'>Cancel</a>
    </main>
  </body>
</html>
