<!DOCTYPE html>
<html>
  <head>
    <title>Create a new category</title>
  </head>
  <body>
    <h1>This page will enable you to add a new item to the category</h1>
    <main>
      <form>
        <fieldset>
          <p>
            <label for='name'>Category Name:</label><br>
            <input type='text' name='name'>
          </p>
          <p>
            <input type='submit' value='Create'>
          </p>
        </fieldset>
      </form>
      <a href='#'>Cancel</a>
    </main>
  </body>
</html>
