{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<main>
  <div class = 'flash'>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li><strong> {{ message }} </strong></li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
  </div>
  <p>{{message}}</p>
  <section class='flex-row'>
    {% for c in c%}
    <div class='category'>
      <h2>
        <a href='{{url_for('showCategory', cat_id = c.id)}}'>{{c.name}}</a>
      </h2>
    </div>
    {% endfor %}
  </section>
</main>
{% include "footer.html" %}
{% endblock %}
